<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="Environment" value="DESARROLLO"/>
    <add key="SaveBinnacleLog" value="true"/>
    <add key="ServiceAdvancedEncryptionStandard256.Key" value="dG1lS3AyUDNCeW1qUElzY1FiN21Odz09LGttblUyZ1FJUDE0UURuVXRyM21yK1JUY0Q4bjR3dUhnMkY1Y3VIa3NrYnM9" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SUNITP WSDLSoap" />
        <binding name="WSDL_Layer_0_ManagementMiddlewareSolutionSoap" />
        <binding name="Cobranzas_Bancarias_API_DaviviendaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://166.178.5.33:3014/WSDL_SUNITP.asmx"
          binding="basicHttpBinding" bindingConfiguration="SUNITP WSDLSoap"
          contract="SUNITP_ServiceReference.SUNITPWSDLSoap" name="SUNITP WSDLSoap" />
      <endpoint address="http://166.178.5.69:4000/WSDL_Layer_0_ManagementMiddlewareSolution.asmx"
          binding="basicHttpBinding" bindingConfiguration="WSDL_Layer_0_ManagementMiddlewareSolutionSoap"
          contract="WSDL_Layer_0_ManagementMiddlewareSolution_ServiceReference.WSDL_Layer_0_ManagementMiddlewareSolutionSoap"
          name="WSDL_Layer_0_ManagementMiddlewareSolutionSoap" />
      <endpoint address="http://10.37.241.116:5003/Cobranzas_Bancarias_API_Davivienda.asmx"
               binding="basicHttpBinding" bindingConfiguration="Cobranzas_Bancarias_API_DaviviendaSoap"
               contract="Cobranzas_Bancarias_API_Davivienda_ServiceReference.Cobranzas_Bancarias_API_DaviviendaSoap"
               name="Cobranzas_Bancarias_API_DaviviendaSoap" />
    </client>
  </system.serviceModel>


</configuration>