<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Cobranzas_Bancarias_API_DaviviendaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.37.241.116:5003/Cobranzas_Bancarias_API_Davivienda.asmx"
                binding="basicHttpBinding" bindingConfiguration="Cobranzas_Bancarias_API_DaviviendaSoap"
                contract="Cobranzas_Bancarias_API_Davivienda_ServiceReference.Cobranzas_Bancarias_API_DaviviendaSoap"
                name="Cobranzas_Bancarias_API_DaviviendaSoap" />
        </client>
    </system.serviceModel>
</configuration>